{% extends 'blog/base.html' %}
{% load static %}

{% block title %}用户注册{% endblock %}
{% block body %}
    {% block link %}
    <link rel="stylesheet" href="{% static 'blog/css/account.css' %}">
    <script src="{% static 'blog/js/register.js' %}"></script>
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-9">
            <h3 style="margin-left: 100px;margin-bottom: 20px">欢迎注册！</h3>
            <form class="form-horizontal" action="{% url 'account:register' %}" method="post" id="registform">
                {% csrf_token %}
              <div class="form-group">
                <label for="usename" class="col-md-5 control-label">登录名：</label>
                  <div class="col-md-6">
                      <input class="form-control" name="username" id="username" type="text" required placeholder="5-10位的字母组合">
                      <span>*必填</span>
                  </div>
              </div>

              <div class="form-group">
                <label for="email" class="col-md-5 control-label">电子邮箱：</label>
                  <div class="col-md-6 text-left">
                      <input class="form-control" name="email" id="email" type="text" placeholder="输入电子邮箱">
                  </div>
              </div>

              <div class="form-group">
                <label for="password" class="col-md-5 control-label">登录密码：</label>
                  <div class="col-md-6 text-left">
                      <input class="form-control" name="password" id="password" type="text" required placeholder="6-15位的字母,数字组合">
                      <span>*必填</span>
                  </div>
              </div>

              <div class="form-group">
                <label for="password2" class="col-md-5 control-label">再次确认密码：</label>
                  <div class="col-md-6 text-left">
                      <input class="form-control" name="password2" id="password2" type="text" required placeholder="6-15位的字母,数字组合">
                      <span>*必填</span>
                  </div>
              </div>

              <div class="form-group">
                <label for="nickname" class="col-md-5 control-label">昵称：</label>
                  <div class="col-md-6 text-left">
                      <input class="form-control" name="nickname" id="nickname" type="text" required placeholder="输入昵称">
                      <span>*必填</span>
                  </div>
              </div>
                <div class="form-group">
                <label for="{{ acountform.phone.id_for_label }}" class="col-md-5 control-label">手机号：</label>
                    <div class="col-md-6 text-left">
                        <input class="form-control" name="phone" id="phone" type="text" placeholder="输入手机号">
                    </div>
              </div>

              <div class="form-group" style="text-align: center">
                  <p id="error" style="color: red"></p>
                <button class="btn btn-default btn-lg" type="button" id="regist" onclick="res()">注册</button>
              </div>
            </form>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3" style="margin-top: 200px">
            <img src="{% static 'blog/images/registersideimg.png' %}" alt="图片"
                 style="transform: translateY(-50%);
    border-radius: 8px;" class="img-responsive">
        </div>

    </div>

</div>
{% endblock %}
{% block script %}

{% endblock %}