{% extends 'blog/base.html' %}
{% block title %}博客首页{% endblock %}
{% block body %}
<div class="container">
    <div class="row" >
        <div class="col-xs-6 col-sm-3 col-md-9">
            <ul class="list-group">
                {% for article in contacts %}
            <li class="list-group-item">
                <div>
                    <div><a href="{% url 'blog:index' article.id %}" class="h3 article_title" target="_blank">{{ article.title }}</a></div>
                    <div class="article_content">
                        {{ article.summary | slice:'70' }}
                        <a href="{% url 'blog:index' article.id %}" class="read_full">阅读全文</a>
                    </div>
                    <div class="article_talk">
                        <span class="article_publishtime">2018.8.7</span>
                        <span class="readnum">阅读(400)</span>
                        <span class="talknum">评论(39)</span>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </li>
                {% endfor %}
            <li class="list-group-item">免费 Window 空间托管</li>
            <li class="list-group-item">图像的数量</li>
            <li class="list-group-item">24*7 支持</li>
            <li class="list-group-item">每年更新成本</li>
            </ul>

        <!--分页开始-->
        <div class="pagination" style="float: right">
            <ul class="pager">
            {% if page.has_previous %}
                <li><a href="?page={{ page.previous_page_number }}">上一页</a></li>
            {% endif %}
            {% if page.has_next %}
                <li><a href="?page={{ page.next_page_number }}">下一页</a></li>
            {% endif %}
            </ul>
        </div>
        <!--分页结束-->
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="right-info">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">阅读排行榜</h3>
                    </div>
                    <div class="panel-body">
                        这是一个基本的面板
                    </div>
                </div>
                 <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">文章分类</h3>
                    </div>
                    <div class="panel-body">
                        这是一个基本的面板
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}