{% extends 'blog/base.html' %}
{% block title %}博客首页{% endblock %}
{% block body %}
<div class="container">
    <div class="row" >
        <div class="col-xs-6 col-sm-3 col-md-9">
            <ul class="list-group">
            <li class="list-group-item">
                <div>
                    <div><a class="h3 article_title">我是标题</a></div>
                    <div class="article_content">
                        免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册免费域名注册
                        <a href="#" class="read_full">阅读全文</a>
                    </div>
                    <div class="article_talk">
                        <span class="article_publishtime">2018.8.7</span>
                        <span class="readnum">阅读(400)</span>
                        <span class="talknum">评论(39)</span>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </li>
            <li class="list-group-item">免费 Window 空间托管</li>
            <li class="list-group-item">图像的数量</li>
            <li class="list-group-item">24*7 支持</li>
            <li class="list-group-item">每年更新成本</li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            <div class="right-info">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">阅读排行榜</h3>
                    </div>
                    <div class="panel-body">
                        这是一个基本的面板
                    </div>
                </div>
                 <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">文章分类</h3>
                    </div>
                    <div class="panel-body">
                        这是一个基本的面板
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}