.article_container .row{
    background-color: white;
}
.article_header{
        background: #fafafa;
    color: #777;
        border-bottom: 2px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 10px;
}
.article_header .a_title{
    color: #333;
    overflow: hidden;
}

.article_footer{
        padding: 6px 15px;
    border-top-color: #eee;
    background: #fafafa;
        border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.article_comment{
    margin-top: 10px;
}

.reply_item{
    border-bottom: 1px solid #ddd;
}
#replies{
    margin-top: 10px;
}