body{
    background-color: #d2d8de;
}
.index-container{
    min-height: 900px;
}
.navbar-default{
    border:0px;
}
#header_nav{
    background-color: #103858;
}
#header_nav .navbar-header a.navbar-brand {
    font-size: 24px;
}
#header_nav .container-fluid a{
    color: #a3b2be;
    font-size: 18px;
}
#header_nav .navbar-header a.navbar-brand{
    color: #fff;
}
#header_nav .container-fluid .ac a{
    color:#fff;
}
.search-nav{
    margin-top: 8px;
    margin-right: 10px;
}
.nav-login{
    float: right;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 150px;
}
.list-inline{
    font-size: 14px;
}
.list-inline .login{
    font-size: 15px;
    color: #777;

}
.list-inline .login:hover{
    color: #333;

}
.container .row ul{
    margin-top: 10px;
}
.container .row ul li {
    margin-bottom: 10px;
}
.list-group-item{
    background-color: rgb(255, 255, 255);
    border-radius: 7px 7px 7px 7px;
    box-shadow: 1px 1px 2px #a7a8ad;
    min-height: 10px;
    _height: 10px;
}

.list-group-item a.article_title{
    font-weight: bold;
}
.list-group-item a.article_title:hover{
    cursor: pointer;
}
.list-group-item .article_content{
    color: #666;
    margin-top: 5px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    line-height: 1.5;
    text-indent: 2em;
}
.list-group-item .article_content a.read_full{
    text-decoration: underline;
}
.list-group-item .article_talk{
    float: right;
    margin-top: 10px;
}
.right-info{
    margin-top: 10px;
}
.right-info .article_cataty a{
    color: #666;
}
.pagination a{
    color: #666;
}
.footer{
    position: relative;
    padding: 30px;
    background-color: white;
    color: #9CA4A9;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 10px;
}

#tianqi {
    height: 20px;
    max-width: 270px;
    margin-bottom: 10px;
}

#lishiif{
    margin-top: 5px;
}