{% extends 'blog/base.html' %}
{% load static %}
{% block title %}文章详情{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'blog/css/article_detail.css' %}">
{% endblock %}
{% block body %}
<div class="container article_container">
    <div class="row" >
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="article_header">
                <h3 class="a_title">{{ article.title }}</h3>
                <div class="info">
                    <span>发表于:{{ article.create_time }}</span>
                    <span>阅读量：{{ total_views }}</span>
                </div>
            </div>
            <div>
                {% autoescape off %}
                    {{ article.body }}
                {% endautoescape %}
            </div>
            <div class="article_footer">
                <div class="opts">
                    <a data-count="6" data-state="active" data-type="Topic" data-id="15323" class="post_like likeable active tooltipstered"
                       href="javascript:;" onclick="post_like('{{ article.id }}')">
                        <i class="glyphicon glyphicon-thumbs-up"></i> <span><span class="thumb_total">{{ total_thumb }}</span> 个赞</span>
                    </a>
                </div>
            </div>


            </div>

    </div>
        <div class="row article_comment">
            <div class="col-xs-12 col-sm-12 col-md-12">
                   <div id="replies" class="panel panel-default" data-last-floor="9">
                      <div class="total panel-heading hide-ios">
                        <span class="total-info">
                        共收到 <b>{{ all_comment.count }}</b> 条回复
                        </span>

                      </div>

                      <div class="items panel-body">
                            <div class="reply" data-id="117734" id="reply1">
                                {% for each_comment in all_comment %}
                                <div class="reply_item">
                                  <div class="infos">
                                    <div class="info">
                                      <span class="name">
                                        <a class="user-name" data-name="Meteorix" href="/Meteorix">{{ each_comment.com_person.account_user.nickname }}</a>
                                      </span>
                                      <span class="sub-info">
                                        <a class="time" href="#reply-117734"><abbr class="timeago" title="" rel="twipsy" data-original-title="2018年08月13日">{{ each_comment.create_time|date:"Y-m-d H:i:s" }}</abbr></a>
                                      </span>

                                      <span class="opts  pull-right">
                                          <span class="hideable">
                                              <a data-toggle="tooltip"  href="?order_by=created_at&amp;#replies">
{#                                                  <i class="glyphicon glyphicon-remove"></i>#}
                                              </a>
                                         </span>
                                      </span>
                                    </div>

                                    <div class="markdown">
                                      <p>{{ each_comment.content }}</p>
                                    </div>
                                  </div>

                                </div>
                                {% endfor %}
                            </div>

                      </div>
                </div>
            </div>
        </div>
        <div class="row post_coment">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">回帖</h3>
                    </div>
                    <div class="panel-body">
                        <form id="comment_form">
                            {% csrf_token %}
                            <input type="hidden" value="{{ article.id }}" name = "articleid">
                            <div class="form-group">
                            <textarea class="topic-editor form-control" rows="4" tabindex="1" name="replybody" id="reply_body" style="height: 80px;"></textarea>
                            </div>
                            <div class="form-group">
                            <input type="button" value="发表" class="pull-right button btn-primary" onclick="post_comment()">
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
</div>


{% endblock %}
{% block script %}
    <script src="{% static 'blog/js/article_detail.js' %}"></script>
{% endblock %}