{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b20daa19cf8e8d915a5bd670909b9745";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>{% block title%}{% endblock %}</title>
    <!--收藏用logo图标-->
    <link rel="bookmark"  type="image/x-icon"  href="{% static 'blog/images/favicon.ico' %}"/>
    <!--地址栏显示用logo图标-->
    <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="{% static 'js/layer.js' %}"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
        {% block link %}{% endblock %}
</head>
<body>

{% include 'blog/header.html' %}
    {% block body %}
    {% endblock %}
{% include 'blog/footer.html' %}
    {% block script %}
    {% endblock %}
<script>
    $(
        //搜索
        $("#search_btn").click(function () {
            var keyword = $.trim($("#su").val());
            if (keyword==''){
                return false
            }else {
                return $("#searchform").submit();
            }

    })
    )

</script>
</body>
</html>