{% load static %}
<footer class="footer" id="footer" data-turbolinks-permanent="">
    <div class="container">
      <div class="row">
  <div class="col-sm-9">
    <div class="media">
      <div class="media-left">
        <img src="{% static 'blog/images/footer_logo.png' %}" style="width:48px;">
      </div>
      <div class="media-body">

        <div class="links">
          个人博客，纯粹的记录工作的技术总结;

        </div>
        <div class="copyright" style="font-size:14px; color:#9CA4A9;margin-top:0px;margin-bottom:5px">
          所有本站涉及的所有内容，仅代表个人的观点;
                </div>
        <div class="links" data-no-turbolink="">
        <span style="font-size:14px; color:#666;">友情链接</span><span style="margin-left:5px">
                  <a style="color:#317DDA;" href="http://wetest.qq.com/?from=links_testerhome" target="_blank">WeTest腾讯质量开放平台</a> /
                  <a style="color:#317DDA;" href="http://www.infoq.com/cn" target="_blank">InfoQ</a> /
                  <a style="color:#317DDA;" href="http://www.testtao.com/portal.php" target="_blank">测试之道</a> /
                  <a style="color:#317DDA;" href="https://www.testwo.com/" target="_blank">测试窝</a> /
                  <a style="color:#317DDA;" href="http://tieba.baidu.com/f?ie=utf-8&amp;kw=%E8%BD%AF%E4%BB%B6%E6%B5%8B%E8%AF%95&amp;fr=search" target="_blank">百度测试吧</a>
        </span>
            </div>
        <div class="links" style="margin-top:0px" data-no-turbolink="">
          <a href="?locale=zh-CN" rel="nofollow">简体中文</a>
        </div>
      </div>
    </div>
  </div>
</div>



    </div>
  </footer>