<nav class="navbar navbar-default" role="navigation" id="header_nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'blog:index' %}">狼图腾博客</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="ac"><a href="{% url 'blog:index' %}">首页</a></li>
                <li><a href="#">生活随笔</a></li>

            </ul>

            <div class="nav-login">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                        {{ user.account_user.nickname }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{% url 'account:myself' %}">我的主页</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{% url 'account:logout' %}" class="register" target="_blank">退出</a>
                        </li>

                    </ul>
                </div>
                {% else %}
                <ul class="list-inline">
                    <li><a href="{% url 'account:login' %}" class="login" target="_blank">登录</a></li>
                    <li><a href="{% url 'account:register' %}" class="register" target="_blank">无账号？</a></li>
                </ul>
            {% endif %}
            </div>

            <ul class="pull-right search-nav">
                <li class="hidden-xs hidden-md hidden-sm">
                    <form class="form-inline" method="get" action="{% url 'blog:search' %}" id="searchform">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="搜索本站内容" id="su" value="{{ keyword }}" name="keyword">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button btn-default btn-sm" id="search_btn">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </form>
                </li>
            </ul>

        </div>

    </div>

</nav>