{% extends 'blog/base.html' %}
{% load static %}
{% load blog_extras %}
{% block title %}电子书{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'blog/css/book.css' %}">
    <script src="{% static 'blog/js/index.js' %}"></script>
{% endblock %}
{% block body %}

    <div class="container" id="book-container">
        <div class="row">
            <div class="book-search">
                <form class="form-horizontal" role="form" method="get" action="{% url 'blog:booksearch' %}" id="booksearchform">
                      <div class="form-group">
                        <div class="col-sm-8 col-xs-8">
                          <input type="text" class="form-control" id="keys" placeholder="搜索书名，作者名" name="keyword" value="{{ keyword }}">

                        </div>
                          <div class="col-sm-4 col-xs-4 input-div">
                              <button  type="submit" class="btn btn-primary" id="booksearch" onclick="return searchbook()">点击搜索</button>
                          </div>
                      </div>
                </form>
            </div>
        </div>

        <div class="row">
            <table class="table table-responsive">
            <thead>
                <tr>
                    <th>书籍</th>
                    <th>作者</th>
                    <th>浏览量</th>
                </tr>
            </thead>
            <tbody>
            {% for each in books %}
                <tr>
                    <td><a href="{% url 'blog:bookdetail' each.id %}">{{ each.bookname }}</a></td>
                    <td>{{ each.author }}</td>
                    <td>{{ each.views }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

                        <!--分页开始-->
            <div class="pagination" style="float: right">
                <ul class="pager">
                {% if page.has_previous %}
                    <li><a href="?page={{ page.previous_page_number }}">上一页</a></li>
                {% endif %}
                {% if page.has_next %}
                    <li><a href="?page={{ page.next_page_number }}">下一页</a></li>
                {% endif %}
                </ul>
            </div>
            <div class="clearfix"></div>
            <!--分页结束-->
        </div>

    </div>


{% endblock %}